<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="../asset/js/landingPage.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <style>
    body,html{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
		overflow:hidden;
    }
	@font-face{
	font-family: 'AmazonEmber_BdIt';
	src: URL('asset/AmazonEmber/AmazonEmber/AmazonEmber/AmazonEmber_BdIt.ttf')
	}
	h1{ 
	font-style: italic;
	text-shadow: 0 0 20px #FF0000, 0 0 20px #0000FF;
	
    </style>
</head>
<body>
   <div >
       <!-- <h1 id="heading"></h1> -->
	   <img src="../asset/images/cancel.png" alt="Smiley face" height="50px" width="50px" style="position:absolute;margin-left:10%;display:block" id="img1">
	   <img src="../asset/images/rightpng.png" alt="Smiley face" height="50px" width="50px" style="position:absolute;margin-left:90%;display:none" id="img2">
       <h1 style="position: absolute;color: red;padding-left: 60%;padding-top: 30%;font-size:100px;font-family: 'AmazonEmber_BdIt';" id="heading">0 </h1>
       <img src="../asset/images/bg copy 2.jpg" alt="" style="width: 100%;height: 100%;padding: 0;margin: 0">
   </div> 
   <script src="../asset/js/working.js"></script>

</body>
</html>